<!DOCTYPE HTML>
<html lang="ko">
	<head>
		<title> 메뉴아이콘 링크 확인 | 서울대학교 </title>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
		<meta name="Author" content="">
		<meta name="Keywords" content="서울대학교">
		<meta name="Description" content="서울대학교">
		
<style>
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img,div{margin:0; padding:0}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block}
img,fieldset{border:0}
ul,ol{list-style:none}
img,input,select{vertical-align:middle}
em,address{font-style:normal}
table{border-collapse:collapse; border-spacing:0px; empty-cells:show; /*table-layout:fixed*/}
caption{visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0;}

.icon_menu_desc h1{font-size:18px; padding:15px; color:#222}
.g_tbl_02{width:100%; border:1px solid #5d6268; border-width:1px 0 1px; background-color:#fff}
.g_tbl_02 th, .g_tbl_02 td{padding:6px 15px; box-sizing:border-box; text-align:center; border-top:1px solid #e2e8ec; color:#555; border-left:1px solid #b8bfc9; height:30px; font-size:12px}
.g_tbl_02 th{color:#333; background-color:#f3f7fa}
.g_tbl_02 tbody th, .g_tbl_02 tfoot th{text-align:left}
.g_tbl_02 tbody tr:first-child th, .g_tbl_02 tbody tr:first-child td{border-top:0}
.g_tbl_02 thead tr th{border-top:0; border-bottom:1px solid #b8bfc9}
.g_tbl_02 tbody tr td:first-child, .g_tbl_02 tbody tr th:first-child, .g_tbl_02 thead tr th:first-child, .g_tbl_02 tfoot tr th:first-child{border-left:0}
.g_tbl_02 img{width:80px; height:auto}
.g_tbl_02 strong{display:block; margin-top:-2px; font-weight:normal; color:#333}
</style>

	</head>

	<body>
		<div class="icon_menu_desc">
			<h1>아이콘 경로 표시</h1>
			<table class="g_tbl_02">
				<caption>아이콘 경로 설명</caption>
				<colgroup>
					<col style="width:100px">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_01.png"><strong>대학 &middot; 대학원</strong></td>
						<td>/images/common/icon_link_01.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_02.png"><strong>학사일정</strong></td>
						<td>/images/common/icon_link_02.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_03.png"><strong>캠퍼스맵</strong></td>
						<td>/images/common/icon_link_03.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_04.png"><strong>셔틀버스</strong></td>
						<td>/images/common/icon_link_04.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_05.png"><strong>스누이벤트</strong></td>
						<td>/images/common/icon_link_05.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_06.png"><strong>스누메일</strong></td>
						<td>/images/common/icon_link_06.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_07.png"><strong>증명서 발급</strong></td>
						<td>/images/common/icon_link_07.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_08.png"><strong>전자결재</strong></td>
						<td>/images/common/icon_link_08.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_09.png"><strong>북마크</strong></td>
						<td>/images/common/icon_link_09.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_10.png"><strong>무선랜이용안내</strong></td>
						<td>/images/common/icon_link_10.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_11.png"><strong>스누식단</strong></td>
						<td>/images/common/icon_link_11.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_12.png"><strong>전화번호</strong></td>
						<td>/images/common/icon_link_12.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_13.png"><strong>긴급상황</strong></td>
						<td>/images/common/icon_link_13.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_14.png"><strong>eTL</strong></td>
						<td>/images/common/icon_link_14.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_15.png"><strong>학교공지</strong></td>
						<td>/images/common/icon_link_15.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_16.png"><strong>수업</strong></td>
						<td>/images/common/icon_link_16.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_17.png"><strong>성적</strong></td>
						<td>/images/common/icon_link_17.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_18.png"><strong>연구관리</strong></td>
						<td>/images/common/icon_link_18.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_19.png"><strong>교직원검색</strong></td>
						<td>/images/common/icon_link_19.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_20.png"><strong>급여내역조회</strong></td>
						<td>/images/common/icon_link_20.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_21.png"><strong>S-card</strong></td>
						<td>/images/common/icon_link_21.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_22.png"><strong>모바일신분증</strong></td>
						<td>/images/common/icon_link_22.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_23.png"><strong>알림내역</strong></td>
						<td>/images/common/icon_link_23.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_24.png"><strong>장학신청</strong></td>
						<td>/images/common/icon_link_24.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_25.png"><strong>등록금고지서</strong></td>
						<td>/images/common/icon_link_25.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_26.png"><strong>학내주요기관</strong></td>
						<td>/images/common/icon_link_26.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_27.png"><strong>만만한 기부</strong></td>
						<td>/images/common/icon_link_27.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_28.png"><strong>SNU ON</strong></td>
						<td>/images/common/icon_link_28.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_29.png"><strong>평생교육원</strong></td>
						<td>/images/common/icon_link_29.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_30.png"><strong>시설 예약/신고</strong></td>
						<td>/images/common/icon_link_30.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_31.png"><strong>시설고장신고</strong></td>
						<td>/images/common/icon_link_31.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_32.png"><strong>아이피신청</strong></td>
						<td>/images/common/icon_link_32.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_33.png"><strong>노트북/CD대여</strong></td>
						<td>/images/common/icon_link_33.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_34.png"><strong>도서검색</strong></td>
						<td>/images/common/icon_link_34.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_35.png"><strong>실험실안전관리</strong></td>
						<td>/images/common/icon_link_35.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_36.png"><strong>취업정보</strong></td>
						<td>/images/common/icon_link_36.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_37.png"><strong>With SNU</strong></td>
						<td>/images/common/icon_link_37.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_38.png"><strong>기본정보</strong></td>
						<td>/images/common/icon_link_38.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_39.png"><strong>학생생활관</strong></td>
						<td>/images/common/icon_link_39.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_40.png"><strong>학생지도</strong></td>
						<td>/images/common/icon_link_40.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_41.png"><strong>교과목</strong></td>
						<td>/images/common/icon_link_41.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_42.png"><strong>학적변동</strong></td>
						<td>/images/common/icon_link_42.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_43.png"><strong>종합</strong></td>
						<td>/images/common/icon_link_43.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_44.png"><strong>대학생활</strong></td>
						<td>/images/common/icon_link_44.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_45.png"><strong>대외교류</strong></td>
						<td>/images/common/icon_link_45.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_46.png"><strong>마이페이지</strong></td>
						<td>/images/common/icon_link_46.png</td>
					</tr>
					<tr>
						<td><img alt="아이콘" src="../../images/common/icon_link_47.png"><strong>마이메뉴설정</strong></td>
						<td>/images/common/icon_link_47.png</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
