<!DOCTYPE HTML>
<html lang="ko"><!-- 영문일 경우 "en"으로 넣어주세요. -->
	<head>
		<title> 스타일가이드 | 서울대학교 </title>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
		<meta name="Author" content="">
		<meta name="Keywords" content="서울대학교">
		<meta name="Description" content="서울대학교">

		<!-- call css -->
		<link type="text/css" rel="stylesheet" href="../../css/import.css">
		
		<!-- call js -->
		<script src="../../js/lib/jquery.min.js"></script>
		<script src="../../js/ui.common.js"></script>

		<!-- 스타일가이드 관련 css 임으로 현재파일만 존재. -->
		<style>
			.gt01{padding:30px 0 15px; font-size:20px; color:#333}
			.gt02{margin-top:30px; margin-bottom:15px; letter-spacing:0; font-size:15px; color:#666; font-weight:normal}
			.gt01 + .gt02{margin-top:-10px}
			.has_gap{padding:0 15px}
			.tip{margin:20px 0 15px; font-size:13px; color:#999; line-height:14px}
			.gt02 + .tip{margin-top:-10px}
		</style>

	</head>

	<body class="sub"><!-- 메인, 로그인페이지는 "main" 클래스명 추가, 서브페이지는 "sub" 클래스명 추가.-->
		<!-- 웹접근성: 반복영역 건너뛰기 -->
		<div id="skip_nav">
			<a href="#container">본문내용 바로가기</a>
		</div>

		<div id="wrap">
			<!-- 헤더 -->
			<header id="header">
				<h1 class="main_tit">서울대학교</h1>
				<a class="btn_sch" href="#none" title="통합검색 페이지 이동">검색</a>
				<a class="btn_gnb" href="#none" title="메뉴 페이지 이동">메뉴</a>
			</header><!--// 헤더 -->

			<!-- 컨테너 -->
			<section id="container">
				<div id="head">
					<h2 class="page_tit">스타일가이드</h2>
					<a class="btn_prev" href="#none" title="이전 페이지 이동">이전</a>
				</div>

				<div id="conts" class="mcollege"><!-- 2depth메뉴별 유니크한 클래스명 추가. 예) 대학(원)은 'mcollege' 추가 (2depth폴더명과 동일)-->
					
					<div class="has_gap" style="background-color:#fff">
						<!-- 포인트 컬러 -->
						<h2 id="point" class="gt01">&diams; 포인트 컬러</h2>
						<h3 class="gt02">&rarr; class=&quot;g_point_01&quot;</h3>
						<strong class="g_point_01">포인트 컬러 01</strong>

						<h3 class="gt02">&rarr; class=&quot;g_point_02&quot;</h3>
						<strong class="g_point_02">포인트 컬러 02</strong>


						<!-- 타이틀 -->
						<h2 id="title" class="gt01">&diams; 타이틀</h2>
						<h3 class="gt02">&rarr; class=&quot;g_tit_01&quot;</h3>
						<h3 class="g_tit_01">사고시 전화 연결</h3>

						<h3 class="gt02">&rarr; class=&quot;g_tit_02&quot;</h3>
						<h3 class="g_tit_02">사고시 전화 연결</h3>

						<h3 class="gt02">&rarr; class=&quot;g_tit_03&quot;</h3>
						<h3 class="g_tit_03">사고시 전화 연결</h3>

						<h3 class="gt02">&rarr; class=&quot;g_tit_04&quot;</h3>
						<h3 class="g_tit_04">사고시 전화 연결</h3>

						<!-- 버튼 정렬 -->
						<h2 id="btn_group" class="gt01">&diams; 버튼 정렬</h2>
						<h3 class="gt02">&rarr; class=&quot;btn_wrap_full&quot;</h3>
						<p class="tip">* 아래 버튼스타일 타입에 풀로 보이는 버튼일 경우 사용</p>
						<div class="btn_wrap_full">
							<a class="g_btn_01" href="#none">로그인</a>
						</div>

						<h3 class="gt02">&rarr; class=&quot;btn_wrap_half&quot;</h3>
						<p class="tip">* 아래 버튼스타일 타입에 50%씩 보이는 버튼일 경우 사용</p>
						<div class="btn_wrap_half">
							<a class="g_btn_03" href="#none">심폐소생 방법</a>
							<a class="g_btn_03" href="#none">자동제세동기 위치</a>
						</div>

						<!-- 버튼 타입 -->
						<h2 id="btn" class="gt01">&diams; 버튼 타입</h2>
						<h3 class="gt02">&rarr; class=&quot;g_btn_01&quot;</h3>
						<div class="btn_wrap_full">
							<a class="g_btn_01" href="#none">로그인</a>
						</div>

						<h3 class="gt02">&rarr; class=&quot;g_btn_02&quot;</h3>
						<a class="g_btn_02" href="#none">나의 학사일정</a>

						<h3 class="gt02">&rarr; class=&quot;g_btn_03&quot;</h3>
						<div class="btn_wrap_half">
							<a class="g_btn_03" href="#none">심폐소생 방법</a>
							<a class="g_btn_03" href="#none">자동제세동기 위치</a>
						</div>

						<h3 class="gt02">&rarr; class=&quot;g_btn_04&quot;</h3>
						<div class="btn_wrap_full">
							<a class="g_btn_04" href="#none">닫기</a>
						</div>

						<h3 class="gt02">&rarr; class=&quot;g_btn_06&quot;</h3>
						<a class="g_btn_06" href="#none">자동제세동기 위치</a>

						<h3 class="gt02">&rarr; class=&quot;g_btn_07&quot;</h3>
						<a class="g_btn_07" href="#none">검색</a>

						<h3 class="gt02">&rarr; class=&quot;g_btn_08&quot;</h3>
						<a class="g_btn_08" href="#none">더보기</a>

						<h3 class="gt02">&rarr; class=&quot;g_btn_09&quot;</h3>
						<a class="g_btn_09" href="#none">버튼버튼버튼</a>

						<!-- Form 태그 -->
						<h2 id="form" class="gt01">&diams; Form 태그</h2>
						<h3 class="gt02">&rarr; input 텍스트 종류 기본, 로그인화면 제외 모두 라운드 테두리.</h3>
						<input type="text" title="">

						<h3 class="gt02">&rarr; select 종류 기본</h3>
						<select title="">
							<option>12월26일(월)</option>
							<option>12월27일(화)</option>
						</select>

						<h3 class="gt02">&rarr; 체크박스 기본 스타일</h3>
						<p class="tip">* 체크박스 on, off, disable, disable check로 구성</p>
						<input type="checkbox" title="선택">
						<input type="checkbox" title="선택" checked>
						<input type="checkbox" title="선택" disabled>
						<input type="checkbox" title="선택" checked disabled>

						<h3 class="gt02">&rarr; class=&quot;ios_style&quot;</h3>
						<p class="tip">* 체크박스 ios 스타일</p>
						<input class="ios_style" type="checkbox" checked>
						<input class="ios_style" type="checkbox">

						<h3 class="gt02">&rarr; 라디오버튼 기본 스타일</h3>
						<input type="radio" name="guide" checked>
						<input type="radio" name="guide">

						<h3 class="gt02">&rarr; 텍스트박스 기본 스타일</h3>
						<textarea placeholder="이곳을 누르시면 작성할 수 있습니다." title=""></textarea>

						<h3 class="gt02">&rarr; class=&quot;g_cal_wrap&quot;</h3>
						<div class="g_cal_wrap">
							<input type="date" title="시작일 입력">
							<span class="dash">~</span>
							<input type="date" title="마지막일 입력">
						</div>

						<h3 class="gt02">&rarr; class=&quot;sel_date&quot;</h3>
						<p class="tip">* 위에 타입보다 해당 타입 사용권장</p>
						<div class="sel_date">
							<input class="rnd" type="date" title="시작날짜 선택" placeholder="YYYY-MM-DD">
							<span class="dash">-</span>
							<input class="rnd" type="date" title="끝나는 날짜 선택" placeholder="YYYY-MM-DD">
						</div>

						<!-- 검색 -->
						<h2 id="search" class="gt01">&diams; 검색</h2>
						<h3 class="gt02">&rarr; class=&quot;g_search_01&quot;</h3>
						<p class="tip">* title과 placeholder 값은 바꾸고 사용하세요</p>
						<div class="g_search_01">
							<input type="text" title="전화번호 검색" placeholder="전화번호 검색">
							<a class="g_btn_07" href="#none">검색</a>
						</div>

						<!-- 텍스트 타입 -->
						<h2 class="gt01">&diams; 텍스트 타입</h2>
						<h3 class="gt02">&rarr; class=&quot;g_text_01&quot;</h3>
						<p class="tip">* font-size:13px; line-height:18px; color:#999</p>
						<p class="g_text_01">&quot;지금은 운영시간이 아닙니다&quot;</p>

						<h3 class="gt02">&rarr; class=&quot;g_text_02&quot;</h3>
						<p class="tip">* padding:9px 15px 7px 32px; font-size:12px; color:#999; background:#f7f7f7 url('../images/common/icon_info.png') 15px 9px no-repeat; background-size:13px</p>
						<p class="g_text_02">기타사고도 구내 8112, 8119로 연락해 주세요.</p>

						<h3 class="gt02">&rarr; class=&quot;g_text_03&quot;</h3>
						<p class="tip">* font-size:13px; line-height:18px</p>
						<p class="g_text_03">심정지가 발생한 사람을 목격한 국민이 심정지 환자를 생존시키는 데 필요한 행동을 현장에서 실천할 수 있도록 개발되었습니다.</p>

						<h3 class="gt02">&rarr; class=&quot;g_text_04&quot;</h3>
						<p class="tip">* font-size:13px; line-height:18px; color:#f34c38</p>
						<p class="g_text_04">※ 유료가입자는  L+zone4 이용</p>

						<h3 class="gt02">&rarr; class=&quot;g_text_05&quot;</h3>
						<p class="tip">* font-size:13px; line-height:18px; color:#333</p>
						<p class="g_text_05">1234569</p>

						<h3 class="gt02">&rarr; class=&quot;g_text_06&quot;</h3>
						<p class="tip">* 표시※ 자동생성: position:relative; padding-left:16px; font-size:13px; line-height:18px; color:#999</p>
						<p class="g_text_06">대여 전 장비 상태를 반드시 확인 하시기 바랍니다.</p>

						<h3 class="gt02">&rarr; class=&quot;g_text_07&quot;</h3>
						<p class="tip">* padding-left:7px; font-size:13px; line-height:18px; color:#999</p>
						<p class="g_text_07">앱에서 이용시 앱에 설치된 프로그램에 따라 다를 수 있습니다. </p>

						<!-- step 타입 -->
						<h2 class="gt01">&diams; 스텝 타입</h2>
						<h3 class="gt02">&rarr; class=&quot;g_step_01&quot;</h3>
						<ol class="g_step_01">
							<li class="on">책임자<br>선택</li>
							<li>신청자<br>정보입력</li>
							<li>실사용자<br>정보입력</li>
							<li>상세정보<br>입력</li>
						</ol>

						<!-- 리스트 타입 -->
						<h2 class="gt01">&diams; 리스트 타입</h2>
						<h3 class="gt02">&rarr; class=&quot;g_list_01&quot;</h3>
						<ul class="g_list_01">
							<li>학사일정은 학사운영의 사정에 따라 변경될 수 있습니다.</li>
							<li>공휴일 등으로 인한 수업결손은 학기중 또는 보강기간에 반드시 보강하여야 하며, 법령상의 수업일수를 확보하기 위하여 종강일자를 반드시 지켜주시기 바랍니다.</li>
						</ul>

						<h3 class="gt02">&rarr; class=&quot;g_list_02&quot;</h3>
						<p class="tip">* 단독으로 보여주지 않고, g_normal_box 클래스명의 하위에 보여진다. 예) 교직원검색 M02050003.html </p>
						<ul class="g_list_02">
							<li><a href="#none">하위기관1</a></li>
							<li class="nolower"><a href="#none">하위기관4</a></li><!-- 하위기관이 없을 경우 -->
							<li><a href="#none">하위기관5</a></li>
						</ul>

						<h3 class="gt02">&rarr; class=&quot;g_list_03&quot;</h3>
						<ol class="g_list_03">
							<li>인적정보,  위치 및 용도 입력 </li>
							<li>입력클릭, 여러개 신청시 [1]작성후 입력</li>
							<li>신청클릭</li>
						</ol>

						<h3 class="gt02">&rarr; class=&quot;g_list_04&quot;</h3>
						<ul class="g_list_04">
							<li>IP주소신청시 이미 다른 IP에 등록된 랜카드주소(Ethernet address)로 신청하는 경우 IP 할당이 불허됩니다. </li>
							<li>공유 등을 위해 특정 IP대역이 필요하시면 비고란에 적어주세요(예:147.46.100대역으로 할당해 주세요). </li>
							<li>책임자와 신청자의 이메일주소, 전화번호 정보를 정확히 입력해 주시기 바랍니다.<br>(신청서에서의 수정은 해당 IP주소 정보에만 적용됩니다. 자동으로 보이는 값들은 인적DB에서 가져오는 것이므로 수정하시려면 my.snu.ac.kr 사이트 로그인 후 오른쪽 상단의 &#0039;마이페이지&#0039;에서 수정하시면 됩니다)</li>
							<li>[실제 사용자]와 신청자가 다른 경우 반드시 기재해 주시기 바랍니다.</li>
						</ul>

						<!-- 박스 타입 -->
						<h2 class="gt01">&diams; 기본박스</h2>
						<h3 class="gt02">&rarr; class=&quot;g_box_01&quot;</h3>
						<div class="g_box_01">
							12345678910
						</div>

						<h3 class="gt02">&rarr; class=&quot;g_normal_box&quot;</h3>
						<div class="g_normal_box">
							12345678910
						</div>

						<!-- 탭 타입 -->
						<h2 class="gt01">&diams; 탭 타입</h2>
						<h3 class="gt02">&rarr; class=&quot;g_tab_01 n2&quot;</h3>
						<p class="tip">* n2은 탭의 개수를 보여주며, n2~n8 의 너비 지정은 다 되어 있음.</p>
						<ul class="g_tab_01 n2">
							<li><a href="#none">대학(원)</a></li>
							<li class="on"><a href="#none">전문대학원</a></li>
						</ul>

						<h3 class="gt02">&rarr; class=&quot;g_tab_02&quot;</h3>
						<p class="tip">* 메인에만 사용</p>
						<ul class="g_tab_02">
							<li class="on"><a href="#none" title="선택된 탭">보도자료</a></li>
							<li><a href="#none">입학뉴스</a></li>
							<li><a href="#none">작업공지</a></li>
						</ul>

						<h3 class="gt02">&rarr; class=&quot;g_tab_03&quot;</h3>
						<p class="tip">* 탭개수가 많을 경우</p>
						<div class="g_tab_03">
							<ul>
								<li class="on"><a href="#none">강좌상세</a></li>
								<li><a href="#none">교과목 개요</a></li>
								<li><a href="#none">강의계획서(국문)</a></li>
								<li><a href="#none">강의계획서(영문)</a></li>
								<li><a href="#none">수강반</a></li>
								<li><a href="#none">2군 교과목</a></li>
								<li><a href="#none">동일대체 교과목</a></li>
							</ul>
						</div>

						<!-- 테이블 타입 -->
						<h2 class="gt01">&diams; 테이블 타입</h2>
						<h3 class="gt02">&rarr; class=&quot;g_tbl_01&quot;</h3>
						<table class="g_tbl_01">
							<caption>책임자 상세정보 - ID, 이름, 소속, 신분, 전화번호, 휴대전화, 이메일의 순서로 정보 제공</caption>
							<colgroup>
								<col style="width:30%">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">ID</th>
									<td>gildong</td>
								</tr>
								<tr>
									<th scope="row">이름</th>
									<td>홍길동</td>
								</tr>
								<tr>
									<th scope="row">소속</th>
									<td>정보서비스팀</td>
								</tr>
								<tr>
									<th scope="row">신분</th>
									<td>일반직원</td>
								</tr>
								<tr>
									<th scope="row">전화번호</th>
									<td>02-1234-1234</td>
								</tr>
								<tr>
									<th scope="row">휴대전화</th>
									<td>010-1234-1234</td>
								</tr>
								<tr>
									<th scope="row">이메일</th>
									<td>gildong@snu.ac.kr</td>
								</tr>
							</tbody>
						</table>

						<h3 class="gt02">&rarr; class=&quot;g_tbl_02&quot;</h3>
						<table class="g_tbl_02">
							<caption>기본정보 - 상태, 신청일시, 신청번호, 설치위치, 신청현황의 순서로 정보제공</caption>
							<colgroup>
								<col style="width:25%">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">상태</th>
									<td>완료</td>
								</tr>
								<tr>
									<th scope="row">신청일시</th>
									<td>yyyy.mm.dd</td>
								</tr>
								<tr>
									<th scope="row">신청번호</th>
									<td>20161212-35</td>
								</tr>
								<tr>
									<th scope="row">설치위치</th>
									<td>[관악] 102동 314</td>
								</tr>
								<tr>
									<th scope="row">신청현황</th>
									<td>2/4</td>
								</tr>
							</tbody>
						</table>

						<br><br>

						<table class="g_tbl_02">
							<caption>상세정보 - MAC, IP의 순서로 정보제공</caption>
							<colgroup>
								<col style="50%">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th scope="col">MAC</th>
									<th scope="col">IP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>12:23:23:23</td>
									<td>123.123.123.123</td>
								</tr>
								<tr>
									<td>12:23:23:23</td>
									<td>불허(기등록)</td>
								</tr>
								<tr>
									<td>12:23:23:23</td>
									<td>불허(사유)</td>
								</tr>
								<tr>
									<td>12:23:23:23</td>
									<td>123.123.123.123</td>
								</tr>
							</tbody>
						</table>

						<!-- 페이징 -->
						<h2 class="gt01">&diams; 페이징</h2>
						<h3 class="gt02">&rarr; class=&quot;g_page_nav&quot;</h3>
						<!-- pagination -->
						<div class="g_page_nav">
							<a class="prev" href="#none">이전</a>
							<span class="num"><strong>1</strong>/3</span>
							<a class="next" href="#none">다음</a>
						</div><!--// pagination -->
					

						<!-- html module -->
						<h2 class="gt01">&diams; html module</h2>
						<h3 class="gt02">&rarr; class=&quot;g_guide_top&quot;</h3>
						<p class="tip">* 상단 안내글 스타일</p>
						<div class="g_guide_top">
							<p class="g_text_03">변경하시려는 신분 선택 후 확인 버튼을 누르세요.<br>앱을 재실행하면 기본값으로 자동 설정 됩니다.</p>
						</div>

						<h3 class="gt02">&rarr; class=&quot;g_set_top&quot;</h3>
						<p class="tip">* 알림설정 페이지에 사용.</p>
						<div class="g_set_top">
							<h3 class="tit">기본단말 여부</h3>
							<span class="rdo_wrap">
								<input type="radio" id="yes_agree" name="agreeorno" checked=""><!-- for값과 id값은 똑같아야 함으로, id값 수정시 for값도 똑같이 수정바랍니다. -->
								<label for="yes_agree">예</label>
								<input type="radio" id="no_agree" name="agreeorno">
								<label for="no_agree">아니오</label>
							</span>
						</div>

						<h3 class="gt02">&rarr; class=&quot;g_setting_box&quot;</h3>
						<p class="tip">* 마이페이지 설정관련 리스트 스타일</p>
						<div class="g_setting_box">
							<ul>
								<li class="rdo">
									<label for="sta_stu">학생[기본값]</label>
									<input type="radio" id="sta_stu" name="chstatus" checked=""><!-- id값과 for값은 똑같아야 합니다.  id값 변경시 for값도 똑같이 바꿔주세요. -->
								</li>
								<li class="rdo">
									<label for="sta_pro">교수</label>
									<input type="radio" id="sta_pro" name="chstatus">
								</li>
								<li class="rdo">
									<label for="sta_wor">직원</label>
									<input type="radio" id="sta_wor" name="chstatus">
								</li>
								<li class="chk">
									<input type="checkbox" id="sta_def">
									<label for="sta_def">기본값 설정</label>
								</li>
							</ul>
						</div>

						<h3 class="gt02">&rarr; class=&quot;g_normal_list&quot;</h3>
						<p class="tip">* 대학(원) &amp; 전체식당  &amp; 학내주요기관  &amp; 전화번호 사용, 사용시 다중 클래스명으로 구분.</p>
						<div class="g_normal_list mcoll"><!-- 대학(원) 유니크한 클래스명 "mcoll" 추가 -->
							<ul>
								<li>
									<a href="#none" class="tit" target="_blank" title="새창">인문대학</a>
									<div class="links">
										<a class="btn_loca" href="#none">위치 찾기</a>
										<a class="btn_share" href="#none">공유하기</a>
										<a class="btn_tel" href="tel:">전화걸기</a><!-- tel:02-3445-2356 형식으로 전화번호 넣어주세요 -->
									</div>
								</li>
								<li>
									<a href="#none" class="tit" target="_blank" title="새창">사회과학대학</a>
									<div class="links">
										<a class="btn_loca" href="#none">위치 찾기</a>
										<a class="btn_share" href="#none">공유하기</a>
										<a class="btn_tel" href="tel:">전화걸기</a>
									</div>
								</li>
								<li>
									<a href="#none" class="tit" target="_blank" title="새창">자연과학대학</a>
									<div class="links">
										<a class="btn_loca" href="#none">위치 찾기</a>
										<a class="btn_share" href="#none">공유하기</a>
										<a class="btn_tel" href="tel:">전화걸기</a>
									</div>
								</li>
							</ul>
						</div>
						
						<div class="g_normal_list mrestr">
							<ul>
								<li>
									<strong class="tit">학생회관식당</strong>
									<div class="links">
										<a class="btn_fav" href="#none">즐겨찾기</a>
										<a class="btn_share" href="#none">공유하기</a>
										<a class="btn_loca" href="#none">위치확인</a>
									</div>
								</li>
								<li>
									<strong class="tit">기숙사식당</strong>
									<div class="links">
										<a class="btn_fav on" href="#none">즐겨찾기</a><!-- 즐겨찾는 식당일 겨우, 클래스명 "on" 추가 -->
										<a class="btn_share" href="#none">공유하기</a>
										<a class="btn_loca" href="#none">위치확인</a>
									</div>
								</li>
							</ul>
						</div>

						<div class="g_normal_list often_phone_num">
							<ul>
								<li>
									<strong class="tit">캠퍼스 폴리스(8112)</strong>
									<span class="num">02-880-8112</span>
									<div class="links">
										<a class="btn_fav on" href="#none">즐겨찾기</a><!-- 즐겨찾기 활성화시 클래스명 "on" 추가. -->
										<a class="btn_share" href="#none">공유하기</a>
										<a class="btn_tel" href="tel:02-880-8112">전화걸기</a>
									</div>
								</li>
								<li>
									<strong class="tit">캠퍼스 폴리스(8119)</strong>
									<span class="num">02-880-8119</span>
									<div class="links">
										<a class="btn_fav" href="#none">즐겨찾기</a>
										<a class="btn_share" href="#none">공유하기</a>
										<a class="btn_tel" href="tel:02-880-8119">전화걸기</a>
									</div>
								</li>
							</ul>
						</div>

						<h3 class="gt02">&rarr; 정보입력</h3>
						<p class="tip">* 입력항목 형식 전체 보여 줌. (IT서비스 메뉴에 사용)</p>
						<table class="g_tbl_01">
							<caption>테이블제목 - 항목, 항목, 항목, 항목, 항목, 항목, 항목의 순서로 정보 제공</caption>
							<colgroup>
								<col style="width:30%">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">ID</th>
									<td>gildong</td>
								</tr>
								<tr>
									<th scope="row">휴대전화</th>
									<td><input class="rnd" type="tel" title="휴대전화 입력"></td>
								</tr>
								<tr>
									<th scope="row">이메일</th>
									<td><input class="rnd" type="email" title="이메일 입력"></td>
								</tr>
								<tr>
									<th scope="row">이름</th>
									<td>
										<div class="ipt_btn_wrap">
											<input class="rnd" type="text" title="이름을 입력하세요">
											<a class="g_btn_07" href="#none">신청자 동일</a>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">캠퍼스</th>
									<td>
										<select title="캠퍼스 선택">
											<option>선택하세요</option>
											<option>관악</option>
											<option>수원</option>
											<option>동수원</option>
											<option>연건</option>
											<option>동해</option>
											<option>기타</option>
										</select>
									</td>
								</tr>
								<tr>
									<th scope="row">동</th>
									<td>
										<div class="ipt_btn_wrap type02">
											<p class="g_text_05">123</p>
											<a class="g_btn_07" href="#none">건물검색</a>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">비고(선택)</th>
									<td>
										<textarea class="rnd" title="비고(선택) 입력"></textarea>
									</td>
								</tr>
								<tr>
									<th scope="row">대여기간</th>
									<td>
										<div class="sel_date">
											<input class="rnd" type="date" title="시작날짜 선택" placeholder="YYYY-MM-DD">
											<span class="dash">-</span>
											<input class="rnd" type="date" title="끝나는 날짜 선택" placeholder="YYYY-MM-DD">
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">연장금액</th>
									<td class="rgt">180,000 원</td>
								</tr>
								<tr>
									<th scope="row">주민등록지 <strong class="g_point_01">*</strong></th>
									<td>
										<div class="ipt_btn_wrap type02">
											<input class="rnd" type="tel" title="우편번호" value="12345" readonly="">
											<a class="g_btn_07 open_layer" href="#find_zipcode">주소검색</a><!-- 레이어 띄우는 기능 추가 -->
										</div>
										<input class="rnd intvar" type="text" title="기본주소" value="서울시 관악구 관악로 1" readonly="">
										<input class="rnd intvar" type="text" title="상세주소" value="서울대학교" readonly="">
									</td>
								</tr>
							</tbody>
						</table>

					</div>

				</div>
			</section><!--// 컨테너 -->

			<!-- 푸터 -->
			<footer id="footer">
				<ul class="foot_menu">
					<li class="icon01"><a href="#none">메인</a></li>
					<li class="icon02"><a href="#none">이전</a></li>
					<li class="icon03"><a href="#none">다음</a></li>
					<li class="icon04"><a href="#none">새로고침</a></li>
					<li class="icon06"><a href="#none">메뉴</a></li>
				</ul>
			</footer><!--// 푸터 -->
		</div>

		<!-- call func. -->
		<script>
			pub_ui.init(); // 공통
		</script>
	</body>
</html>
