@charset "utf-8";
#headerWrap {background:#0c110d url(../../images/w/kr/signup/bg_header.png) no-repeat 50% 0;}

.signupTit {margin-top:-10px; font-size:33px; line-height:50px; color:#336ea2;}
.grayBox {margin-top:37px;}
/* .grayBox .btnWideG {font-size:19px; padding:13px 33px;} */
.grayBox .left {float:left; width:475px; margin-top:40px; padding-top:162px; border-right:1px solid #c9ccce; text-align:center;}
.grayBox .right {float:left; width:472px; margin-top:40px; padding-top:162px; margin-left:-1px; border-left:1px solid #c9ccce; text-align:center;}
.grayBox .cts{margin:15px 0;}
.btnWrap {text-align:center;}
.btnWrap.ar {text-align:right;}

/*가입유형 선택*/
.signup {text-align:center;}
.signupCts {padding-bottom:59px;}
.signupCts:after {content:""; display:block; clear:both; visibility:hidden; height:0px; font-size:0;}
	.ie7 .signupCts {display:inline-block; zoom:1;}
.signupCts .left {background: url(../../images/w/kr/signup/bg_signup.png) no-repeat 168px 0;}
.signupCts .right {background: url(../../images/w/kr/signup/bg_signup.png) no-repeat -236px 0; }

/*본인인증*/
.signupCert {margin-top:50px; text-align:center;}
.signupCertCts:after {content:""; display:block; clear:both; visibility:hidden; height:0px; font-size:0;}
	.ie7 .signupCertCts {display:inline-block; zoom:1;}
.signupCertCts .left {background: url(../../images/w/kr/signup/bg_signup_cert.png) no-repeat 173px 0;}
.signupCertCts .right {background: url(../../images/w/kr/signup/bg_signup_cert.png) no-repeat -236px 0;}
.signupCertCts .left .cts {padding:0 110px;}
.signupCertCts .right .cts {padding:0 90px;}
.signupCertCts {padding-bottom:40px;}

/*약관동의*/
.signupTermsWrap input{margin-top:9px; vertical-align:top;}
	.ie7 .signupTermsWrap input{margin-top:1px; vertical-align:top;}
	.ie8 .signupTermsWrap input{margin-top:9px; vertical-align:top;}
.signupTermsWrap label{margin-top: 0;font-size:14px; font-weight:normal;}
.signupTerms {margin-top:45px;}
.signupTermstCts {margin-top:26px; padding:23px 0 13px 0; border-top:1px solid #c9ccce; border-bottom:1px solid #c9ccce;}
.signupTermstCts li {margin-top:23px; padding-left:10px; background:url(../../images/w/kr/common/bl_dot_blue.gif) no-repeat 0 14px;}
.signupTermstCts li:first-child {margin:0;}
.signupTermstCts li h4 {margin-bottom:4px; color:#346da2; font-weight:bold;}
.signupTermstCts .ctsBoxWrap {height:178px; width:100%; margin-bottom:8px; background:#ffffff; border:1px solid #c9ccce; overflow:scroll; overflow-x: hidden;}
.signupTermsBtm {margin-top:13px; padding-left:10px;}
.termsCts {margin-left:5px;}

/*개인정보입력*/
.fTit {margin-top:39px; font-size:24px; font-weight:bold; line-height:30px; color:#346da2;}
.fTit span{margin-left:12px; padding-left:12px; font-size:16px; font-weight:normal; line-height: 30px; color:#545d64; background:url(../../images/w/kr/common/vbar_1x13_gray.gif) no-repeat 0 2px;}
.requireTxt {width:929px; padding:8px 0 7px 21px;  background:#336ea2; color:#ffffff; font-weight:bold; border-top:1px solid #c9ccce; border-bottom:1px solid #c9ccce;}
.requireTxt.no {background:#8f9498;}
.tForm, .formWrap {position:relative; margin-top:39px;}
.tForm {width:950px; margin-top:13px;}
.tForm th, .tForm td {padding:7px 0; border-bottom:1px solid #c9ccce;}
.tForm th {padding-left:21px; text-align:left;}
.tForm td .fs14, .formWrap .childInfo span.fs14 {margin-left:10px; color:#8f9498;}
.tForm .pAbs {top:9px; right:10px; color:#fff;}
.tForm .btnWrap, .formWrap .btnWrap {margin-top:30px;}
.formWrap dt {padding:10px 0 0 21px; font-weight:bold;}
.formWrap dd {padding:0 0 10px 21px; border-bottom:1px solid #c9ccce;}
.formWrap dd label {font-weight:normal; font-size:16px; margin-right:20px;}
.formWrap dd textarea {margin-bottom:5px;}
.formWrap .childInfo dt {padding:7px 0 0 21px;}
.formWrap .childInfo dd {padding:7px 0 7px 21px;}
.formWrap .childInfo dd label {width:12%; font-weight:bold;}
.formWrap .childInfo p.fs14 {margin-left:132px; margin-top:5px; color:#8f9498;}



/*가입완료*/
.signupFin {margin-top:50px; padding:80px 0 80px 384px; background:#e6e6e6 url(../../images/w/kr/signup/bg_signup_fin.png) no-repeat 134px 54px; border:1px solid #c9ccce;}
.signupFin .signupTit {font-size:35px; line-height:50px;}





